exportPattern("^[[:alpha:]]+")
    importFrom("stats", "aggregate", "end")
    importFrom("utils", "head")
    importFrom("utils", "tail")
    import("RColorBrewer")
    import("anytime")
    import("imputeTS")
    import("lubridate")
    import("devtools")
    import("plyr")
